.cardwrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	flex-wrap: wrap;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	font-family: sans-serif;
	border-radius: 16px;
	padding: 16px;
	width: 350px;
	height: 220px;
	margin: 16px;
	cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h2{
	opacity: 0.3;
}
